* {
    margin: 0;
    padding: 0;
}
ul li{
  display: inline-block;
  
  padding: 0px 0px 0px 75px;
}
a {
    text-decoration: none;
    color: #2e5cb8;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #2e5cb8;
    font-family: Electrolize;
}
a:hover {
    background-color: #2e5cb8;
    color: #a6e6d7;
}
a:active {
    color:#2e5cb8;
    background-color: transparent;
}
ul {
    display: table; 
    justify-content: right;
    text-align: right;
}
nav {
    background-color: transparent;
    padding: 25px;
    margin: 0px 100px 20px 0px;
    float: right;
}
.title-area {
    display: flex;
    text-align: right;
    justify-content: right;
    flex-direction: column;
    padding-right: 175.155px;
    margin-top: 35px;
}
body {
    background-image: url("./bike.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: ;
}
#title {
    margin-bottom: 20px;
    font-family: Inspiration;
    letter-spacing: 2px;
}
#intro {
    
}